<section class="blog central-column" id="blog">

    <img class="blog__img" src="./images/group_with_messages.svg"
        alt="ilustración de tres chicas hablando entre ellas.Están posicionadas en círculo y a su vez tienen una línea negra rodeando a cada una de ellas. La primera está situada arriba a la derecha; es una chica morena con el pelo rizado y un jersey de cuello alto negro que tiene a su izquierda un icono de un bocadillo con puntos suspensivos dentro. La segunda se coloca abajo y es una chica con el pelo liso negro y una chaqueta azul, trabajando con un ordenador y su mano izquierda levantada hacia arriba; arriba de su mano aparece el icono de un sobre en amarillo. Por último, la tercera chica se sitúa a la izquierda de la ilustración; tiene el pelo corto moreno con flequillo recto y lleva una americana azul; su mirada se dirige a la chica de la derecha y sobre ella hay un avión de papel azul. Alrededor de todas ellas hay dibujos de triángulos, círculos y bucles amarillos, azules y negros">

    <article class="blog__card">

        <h3 class="blog__title">
            Lorem ipsum dolor sit amet consectetur
        </h3>

        <p class="blog__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit nemo hic quos, ab, dolor aperiam nobis eum est eos error ipsum.
        </p>

        <a href="#" class="blog__button">
            Ver más
        </a>

    </article>

    <img class="blog__img blog__img--second" src="./images/man_on_sofa.svg"
        alt="ilustración de una figura de hombre sentado en un sillón con un ordenador encima de las piernas. Encima de él un círculo con los siguientes iconos: engranaje, papeles escritos, tarjeta de crédito, carpeta con candado, página web para introducir usuario y contraseña, escudo de seguridad con un candado en el centro. Todo de color azul y una nube en el centro del círculo">

    <article class="blog__card">

        <h3 class="blog__title">
            Lorem ipsum dolor sit amet consectetur
        </h3>

        <p class="blog__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit nemo hic quos, ab, dolor aperiam nobis eum est eos error ipsum.
        </p>

        <a href="#" class="blog__button">
            Ver más
        </a>
    </article>
</section>