<footer class="footer">
    <div class="footer__inner central-column">
        <nav class="footer__rrss">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-pinterest-p"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-youtube"></i>
        </nav>
        <p class="footer__copyright">&copy; Adatech, 2026. </p>
    </div>
</footer>