<section class="hero">
  <div class="hero__inner central-column">
    <div class="hero__content">
      <p class="hero__label">welcome</p>
      <h1 class="hero__title">Lorem ipsum dolor sit amet consectetur</h1>
      <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor
        aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt delectus iste?</p>
      <a class="hero__link" href="">Explora</a>
    </div>
    <div class="hero__img"></div>
  </div>
</section>