<section class="team">
    <h2>Nuestro equipo</h2>
    <section class="team-section">
    <div class="photos">
        <img src="../images/girl-1.png" alt="adalaber-1">
        <h3>Leti</h3>
        <p>Adalaber</p>
    </div>
    <div class="photos">
        <img src="../images/girl-2.png" alt="adalaber-2">
        <h3>Mari</h3>
        <p>Adalaber</p>
    </div>
    <div class="photos">
        <img src="../images/girl-3.png" alt="adalaber-3">
        <h3>Emma</h3>
        <p>Adalaber</p>
    </div>
    <div class="photos">
        <img src="../images/girl-1.png" alt="adalaber-4">
        <h3>Cris</h3>
        <p>Adalaber</p>
    </div>
    <div class="photos">
        <img src="../images/girl-2.png" alt="adalaber-5">
        <h3>Marta</h3>
        <p>Adalaber</p>
    </div>
</section>

</html>