<section class="team central-column" id="team">
    <h2 class="team__title">Nuestro equipo</h2>
    <section class="team__section">
        <div class="team__photos">
            <img class="team__img" src="./images/dogs/Cris-Mora.png" alt="adalaber-2">
            <h3 class="team__name">Cris</h3>
            <p class="team__text">Adalaber</p>
        </div>
        <div class="team__photos">
            <img class="team__img" src="./images/dogs/Forest-Emma.jpg" alt="adalaber-1">
            <h3 class="team__name">Emma</h3>
            <p class="team__text">Adalaber</p>
        </div>
        <div class="team__photos">
            <img class="team__img" src="./images/dogs/Olar.png" alt="adalaber-3">
            <h3 class="team__name">Leti</h3>
            <p class="team__text">Adalaber</p>
        </div>
        <div class="team__photos">
            <img class="team__img" src="./images/dogs/reina_mari.png" alt="adalaber-4">
            <h3 class="team__name">Mari</h3>
            <p class="team__text">Adalaber</p>
        </div>
        <div class="team__photos">
            <img class="team__img" src="./images/dogs/lume_lava.png" alt="adalaber-5">
            <h3 class="team__name">Marta</h3>
            <p class="team__text">Adalaber</p>
        </div>
        </section>
    </html>